.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  transition: visibility 1s, opacity 1s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
