.page {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1280px;
  min-height: 100vh;
  color: #FFFFFF;
  font-family: 'Inter', Arial, sans-serif;
}
