@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);

@import url(./blocks/profile//profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__form/profile__form.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__job/profile__job.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);


.cards {
  margin: 47px auto 0;
}

.card__items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 282px);
  gap: 17px 20px;
  justify-content: center;

}

@media screen and (max-width:880px) {
  .card__items {
  grid-template-columns: repeat(2, 282px);
  }
}

@media screen and (max-width:660px) {
  .card__items {
  grid-template-columns: 282px;
  }
}

.card__photo {
  background: #C4C4C4;
  border-radius: 10px 10px 0px 0px;
  width: 282px;
  height: 282px;
}

.card__caption {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  border-radius: 0 0 10px 10px;
  width: 282px;
  height: 79px;
  padding: 0 20px 0 15px;

}

.card__title {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.card__item {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 10px;
  width: 282px;
  background-color: #FFFFFF;
}


.card__like {
  background-image: url(../../images/like.svg);
  background-color: #FFFFFF;
  background-size: 22px 19px;
  width: 22px;
  height: 19px;
  border: none;
  cursor: pointer;
  transition: opacity 1s ease-in-out;
}

.card__like:hover {
  opacity: .5;
}