.popup__submit-button {
  width: 358px;
  height: 50px;
  background-color: #000000;
  border-radius: 2px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: inherit;
  margin: 23px 0 0;
  transition: opacity .5s ease-in-out;
}

.popup__submit-button:hover {
  opacity: .8;
}

@media screen and (max-width: 550px) {
  .popup__submit-button {
    width: 238px;
    height: 46px;
    margin: 15px 0 0;
  }
}
