
.profile__job {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  }

  @media screen and (max-width:668px) {
    .profile__job {
      font-size: 14px;
      line-height: 17px;
      text-align: center;
    }
  }